#banner {
    background-color: none;
    text-align: center;
    width: 100%;
    color: black;
}
#cityfield {
    background-color: rgb(218, 154, 154);
    
}
#weatherdetails {
    background-color: rgb(172, 226, 172);
}
#city-input {
width:80% ;



}
#search {
width: 40px;
height: 30px;
background:rgb(30, 134, 219);
color: #eeeeee;
outline-color:rgb(74, 152, 216);
}