#banner {
    background-color: black;
    text-align: center;
    color:white;
    padding: 10px;
}

#cityfield {   
}
#citieshere {
    list-style-type: none;
    padding-left: 0;
    /* display: flex; */
    background: none;
    color: inherit;
    outline: inherit;
}
h2 {
    font-size: 25px;
}
#weatherdetails1 {
    background-color:none;
  
}
#weatherdetails2 {
    background-color:none;
   
}
#city-input {
    width:80% ;



}
#search {
    width: 70px;
    height: 30px;
    background:rgb(30, 134, 219);
    color: #eeeeee;
    outline-color:rgb(74, 152, 216);
}

.card-body {
    background-color: rgb(135, 220, 226);
}